*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#D5E1EF;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 40px;
    padding: 20px;
    width: 350px;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    
}

.container .pics{
    background: url('image/image-qr-code.png') no-repeat center center/cover;
    width: 100%;
    height: 300px;
    border-radius: 15px;

}

.container h1{
font-family: 'Outfit', sans-serif;
font-size: 25px;
font-weight: 700;
color: black;
}

.container p{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:  hsl(212, 45%, 89%);
    line-height: 20px;
}

@media screen and (max-width: 375px) {

    body{
        background-color:hsl(204, 54%, 90%);
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 40px 15px;
    }
    
    .container{
        width: 300px;
        height: 550px;
  
        
    }
    .container h1{
        font-size: 23px;
       
        }
        
    
}